body {
  background-image: url("/public/background.jpg");
  inset: 0;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-custom: "Playfair Display";
  --color-nav: #3e2723;
  --color-blur: #d6d5d5;
}
